<head>
  <meta charset="UTF-8">
  <title>CSGO Lexical Analyzer</title>
</head>
<body>
  <h1>CSGO Lexical Analyzer #1</h1>
  <form action="/firstModel" method="post">
    <label for="sourceCode">CSGO Source Code:</label>
    <textarea id="code" class="code-area" name="code" rows="10" cols="40"></textarea>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
