
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSGO Lexical Analyzer</title>
</head>
<body>
  <div>
    <a href="/firstModel">Go to First Model</a>
    <a href="/secondModel">Go to Second Model</a>
  </div>
</body>
</html>